<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender name="MainLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/report.log"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p on line %L - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="TRACE"/>
        <appender-ref ref="MainLogFile"/>
    </root>
</log4j:configuration>