.btn_menu {
    margin-top: 170px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(133, 181, 165); /* фон кнопки */
    padding: .7em 1.5em;
    font-size: 40px;
    height: 100px;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.bg_menu {
    background-image: url("../view/image/background.jpg");
}

.header {
    position: fixed; /* Фиксированное положение */
    left: 0; top: 0; /* Левый нижний угол */
    background: #73b592; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    height: 80px;
}
.header_title {
    position: fixed;
    margin-left: 30px;
    margin-bottom: 10px;
    color: #fff;
    left: 0;
}

.header_welcome_user {
    position: fixed;
    margin-bottom: 30px;
    margin-right: 15px;
    color: #fff;
    right: 0;
}

.header_command {
    position: fixed;
    margin-top: 50px;
    margin-right: 15px;
    color: #fff;
    right: 0;
}

.header_sign_in {
    color:beige;
}

.header_sign_up {
    color: beige;
}

.header_sign_out {
    color: white;
}

.header_name {
    color: white;
}

.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #73b592;
    color: #fff;
    width: 100%;
    text-align: center;
}

.footer_link {
    color: black;
}

.sign_up {
    margin-top: 100px;
    position: center;
}

.sign_up_title {
    text-align: center;
}

.sign_in {
    margin-top: 100px;
    position: center;
}

.menu {
    margin: 7% 20px;
    border-color: azure;
    position: center;
    text-align: -webkit-center;
    outline: 2px solid #000;
}

.menu_title {
    padding: 10px;
    background: #85b5a5;
    color: #fff;
}

.menu_dish_image {
    position: center;
    width: 300px;
    height: 200px;
    text-align: center;
}

.menu_dish_category {
    text-align: center;
    font-size: 25px;
}

.menu_attention {
    color: firebrick;
    font-size: 20px;
    margin-bottom: 10px;
}

.menu_btn_reservation{
    margin-bottom: 30px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(35, 181, 90); /* фон кнопки */
    padding: .7em 1.5em;
    font-size: 30px;
}
.menu_btn_plus{
    display: inline-block;
    width: 34px;
    height: 34px;
    background-image: url(https://img.icons8.com/dotty/30/000000/plus.png);
    background-size: 30px, 30px;
    cursor: pointer;
    border-radius: 50%;
}
.menu_btn_minus{
    display: inline-block;
    width: 34px;
    height: 34px;
    background-image: url(https://img.icons8.com/dotty/30/000000/minus.png);
    background-size: 30px, 30px;
    cursor: pointer;
    border-radius: 50%;
}
.menu_dish_count{
    display: inline-block;
    font-size: 30px;
    width: 34px;
    height: 34px;
}

.menu_btn_clear{
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(143, 181, 148);
    padding: .7em 1.5em;
    font-size: 20px;
}

.res_btn_checkout{
    margin-bottom: 30px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(142, 181, 144);
    padding: .7em 1.5em;
    font-size: 30px;
}

.res_btn_checkout{
    margin-top: 8%;
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(133, 181, 165);
    padding: .7em 1.5em;
    font-size: 40px;
    height: 100px;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.res_input_address{
    position: absolute;
    margin-top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 30px;
    text-align: center;
}
.res_order{
    position: absolute;
    margin-top: 100px;
    width: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: white;
    padding: 5px 0;
}
.res_order_detail{
    margin-top: 10px;
}
.res_order_title{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.res_order_price{
    font-style: italic;
    font-weight: bold;
}
.res_order_weight{
    font-style: italic;
    font-weight: bold;
}
.res_order_dish{
    font-style: italic;
    margin-top: 10px;
}

.res_btn_edit{
    margin-top: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    user-select: none;
    background: rgb(133, 181, 165);
    font-size: 15px;
    height: 30px;
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}